@model RaceDirector.Models.ViewModels.CreateRaceVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>RaceVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrackName" class="control-label"></label>
                <input asp-for="TrackName" class="form-control" />
                <span asp-validation-for="TrackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceClassName" class="control-label"></label>
                <input asp-for="RaceClassName" class="form-control" list="possibleRaceClassers" />
                <span asp-validation-for="RaceClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceDate" class="control-label"></label>
                <input asp-for="RaceDate" class="form-control" type="date"/>
                <span asp-validation-for="RaceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<datalist id="possibleRaceClassers">
    @foreach (var item in Model.PossibleRaceClasses)
    {
        <option>@Html.DisplayFor(modelItem => item.Name)</option>
    }
</datalist>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
