@model RaceDirector.Models.ViewModels.DriverVM

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить пилота?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ф.И.О.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Возраст
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeString)
        </dd>
    </dl>

    <form asp-action="Удалить">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Назад к списку пилотов</a>
    </form>
</div>
